@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
$ubuntu: 'Ubuntu',
sans-serif;
$white: #fff;

body {
    background-color: $white;

    header {
        width: 80%;
        display: block;
        margin: 25px auto 20px;

        .container {
            .logo {
                margin-left: 182px;
            }

            display: flex;
            flex-wrap: wrap;

            .input {
                margin-left: 10.5%;
                width: 29%;
                margin-top: 5px;

                input {
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid;
                }
            }

            .my-account-container {
                display: flex;
                flex-wrap: wrap;
                margin: 0px 0 0 168px;

                .my-acc-content {
                    align-items: center;
                    display: flex;

                    a {
                        text-decoration: none;
                        margin-left: 3px;
                        font-family: $ubuntu;
                        text-transform: capitalize;
                        font-size: 13px;
                    }
                }

                .mini-cart-content {
                    margin: 4px 22px;
                }
            }

            .languages-container {
                margin: 6px 0px 6px 36px;

                img {
                    margin-right: 18px;
                }
            }
        }
    }

    .slick-slider {
        .slick-arrow {
            position: absolute;

            &.slick-prev {
                left: 17%;
                z-index: 1;

                &:before {
                    font-size: 33px;
                }
            }
            &.slick-next {
                right: 18%;
            }
        }
        .slick-dots {
            bottom: 38px;
            li {
                button {
                    &:before {
                        font-size: 11px;
                        width: 50px;
                        height: 50px;
                        color: #FF9F1C;
                    }
                }
                &.slick-active {
                    button {
                        &:before {
                            color: #FF9F1C;
                        }
                    }
                }
            }
        }
    }
}